<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {webtitle: "Registrarse" }) %>

  <body>
    <%- include('../partials/header') %>
      <main>
        <div class="editProduct">
          <section>
            <div class="logo-editProduct">
              <i class="fa-solid fa-file-circle-plus"></i>
            </div>
            <div class="edit-product-text">
              <p>NUEVO PRODUCTO.</p>
            </div>
            <form action="/products/createProduct" method="POST" class="form-editProduct">
              <div class="edit-log-id">
                <input type="text" name="id" id="id" placeholder="ID" disabled="true">
              </div>
              <div class="edit-log-nameProduct">
                <input type="text" name="name" id="name" placeholder="Nombre del producto">
              </div>
              <div class="edit-log-description">
                <input type="text" name="description" id="description" placeholder="Descripción">
              </div>
              <div class="edit-log-price">
                <input type="number" name="price" id="price" placeholder="Precio">
              </div>
              <div class="edit-log-category">
                <select name="category" id="category" class="form-input" required>
                  <option value="">Elige una categoría</option>
                  <option value="camisetas">Camisetas</option>
                  <option value="hoddies">Hoddies</option>
                  <option value="mugs">Mugs</option>
                  <option value="cojines">Cojines</option>
                  <option value="botellas">Botellas</option>
                  <option value="stickers">Stickers</option>
                  <option value="gorras">Gorras</option>
                </select>
              </div>
              <div class="edit-log-color">
                <select name="color" id="color" class="form-input" required>
                  <option value="">Elige un color</option>
                  <option value="Blanco">Blanco</option>
                  <option value="Gris">Gris</option>
                  <option value="Negro">Negro</option>
                  <option value="Rojo">Rojo</option>
                  <option value="Azul">Azul</option>
                  <option value="Amarillo">Amarillo</option>
                  <option value="Rosa">Rosa</option>
                </select>
              </div>
              <div class="edit-log-image">
                <input type="file" name="image" id="image" placeholder="Imagen">
              </div>
              <div class="edit-buttonSave">
                <button type="submit">Guardar</button>
              </div>
            </form>
            <div class="edit-back-product">
              <a href="/products/addEditProduct">Volver a productos</a>
            </div>
          </section>
        </div>
        </div>
      </main>
      <div id="modal-menu" class="modal">
        <a class="close" href="#">X</a>
        <li><a href="/">Inicio</a></li>
        <li><a href="/tshirts">Tienda</a></li>
        <li><a class="red" href="/users/login">Iniciar sesión</a></li>
        <li><a href="/users/register">Registrate</a></li>
        <a class="cart" href="/cart"><i class="fas fa-solid fa-cart-shopping"></i></a>
      </div>
      <%- include('../partials/footer') %>
  </body>

</html>