<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {webtitle: "Editar / Crear producto" }) %>
  </head>
  <%- include('../partials/header') %>
    <body>
      <div class="container-btn-new">
        <a class="btnNew" href="/products/addeditProduct">
          <input type="button" value="Productos">
        </a>
      </div>
      <div class="container-btn-new">
        <a class="btnNew" href="/users/addEditUser">
          <input type="button" value="Usuarios">
        </a>
      </div>
      
      <%- include('../partials/footer') %>
    </body>

</html>