<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {webtitle: "Registrarse"}) %>
<body>
  <%- include('../partials/header') %>
    <main>
            <div class="editProduct">
                <section>
                    <div class="logo-editProduct">
                        <i class="fa-solid fa-pencil"></i>
                    </div>
                    <div class="edit-product-text">
                        <p>EDICIÓN DE PRODUCTO.</p>
                    </div>
                    <form action="resultado.html" method="POST" class="form-editProduct">
                        <div class="edit-log-id">
                            <input type="text" name="id" id="id" placeholder="ID">
                        </div>
                        <div class="edit-log-nameProduct">
                            <input type="text" name="edit-log-nameProduct" id="edit-log-nameProduct" placeholder="Nombre del producto">
                        </div>
                        <div class="edit-log-description">
                            <input type="text" name="edit-log-description" id="edit-log-description" placeholder="Descripción">
                        </div>
                        <div class="edit-log-price">
                            <input type="number" name="edit-log-price" id="edit-log-price" placeholder="Precio">
                        </div>
                        <div class="edit-log-category"> 
                            <input type="text" name="edit-log-category" id="edit-log-category"
                                placeholder="Categoria">
                        </div>
                        <div class="edit-log-color"> 
                            <input type="text" name="edit-log-color" id="edit-log-color"
                                placeholder="Color">
                        </div>
                        <div class="edit-log-image"> 
                            <input type="file" name="edit-log-image" id="edit-log-image"
                                placeholder="Imagen">
                        </div>
                    </form>
                    
                    <div class="edit-buttonSave">
                        <button onclick="alert('Producto guardado')">Guardar</button>
                    </div>
                    <div class="edit-back-product">
                        <a href="/addEditProduct">Volver a productos</a>
                    </div>
                </section>
            </div>
        </div>
    </main>
    <div id="modal-menu" class="modal">
        <a class="close" href="#">X</a>
        <li><a href="/">Inicio</a></li>
        <li><a href="/tshirts">Tienda</a></li>
        <li><a class="red" href="/users/login">Iniciar sesión</a></li>
        <li><a href="/users/register">Registrate</a></li>
        <a class="cart" href="/products/cart"><i class="fas fa-solid fa-cart-shopping"></i></a>
    </div>
    <%- include('../partials/footer') %>
</body>
 
</html>