<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {webtitle: "Carrito"}) %>
  <body>
    <%- include('../partials/header') %>
      <main>
        <div class="cart-complete">
          <div class="cart-articles">
            <div class="cart11">
              <div class="cart-detail">
                <div class="cart-image">
                  <img src="/images/products/t-shirt1.jpg" alt="camiseta">
                </div>
                <div class="container-value-cant-remove">
                  <div class="cart-description">
                    <div class="item-value">
                      <p>$45.000</p>
                    </div>
                  <h4>Camiseta estampada Angular</h4>
                  <p>Color: negro</p>
                  <p>Talla: S</p>
                  <div class="N-objects">
                    <label for="cant">Cantidad</label>
                    <input type="number" name="cant" min="0" step="1" value="1">
                  </div>
                  <div class="remove-object">
                    <i class="fa-solid fa-trash-can"></i>
                  </div>
                  </div>
                </div> 
              </div>
            </div>
            <!--------------------------SEGUNDO ARTICULO---------------------->
            <div class="cart11">
              <div class="cart-detail">
                <div class="cart-image">
                  <img src="/images/products/t-shirt3.jpg" alt="camiseta">
                </div>
                <div class="container-value-cant-remove">
                  <div class="cart-description">
                    <div class="item-value">
                      <p>$45.000</p>
                    </div>
                  <h4>Camiseta estampada Phyton</h4>
                  <p>Color: negro</p>
                  <p>Talla: S</p>
                  <div class="N-objects">
                    <label for="cant">Cantidad</label>
                    <input type="number" name="cant" min="0" step="1" value="1">
                  </div>
                  <div class="remove-object">
                    <i class="fa-solid fa-trash-can"></i>
                  </div>
                  </div>
                </div> 
              </div>
            </div>
          </div>
          <!------------------------RESUMEN DE ARTICULOS----------------------------->
          <div class="cart-summary-articles">
            <div class="summary-articles">
              <p>2 Artículos</p>
              <p>$90.000</p>
              <p>Envío</p>
              <p>$12.000</p>
            </div>
            <div class="total-items">
              <p><i>Total (impuestos incluidos)</i></p>
              <p>$102.000</p>
            </div>
            <div class="checkout">
              <button type="button">COMPRAR</button>
            </div>
          </div>
        </div>
      </main>
      <%- include('../partials/footer') %>
        <div id="modal-menu" class="modal">
          <a class="close" href="#">X</a>
          <li><a href="/">Inicio</a></li>
          <li><a href="/">Tienda</a></li>
          <li><a class="red" href="/users/login">Iniciar sesión</a></li>
          <li><a href="/users/register">Registrate</a></li>
          <a class="cart" href="/products/cart"><i class="fas fa-solid fa-cart-shopping"></i></a>
        </div>
  </body>
</html>