:root {
  --red: #EF233C;
  --white: #FFFFFF;
  --black: #000000;
  --light-gray: #EDF2F4;
  --dark-gray: #8D99AE;
  /*Fonts*/
  --big: 2rem;
  --small: .5rem;
}

/* =============GENERAL =============*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--light-gray);
    font-weight: bold;
  }
  
  p {
    font-size: 16px;
  }
  
  h2 {
    font-size: 30px;
    color: var(--red);
    padding: 8px 0px;
  }
  
  h3 {
    font-size: 18px;
    text-transform: uppercase;
    color: rgb(83, 83, 83);
    margin-bottom: 3px;
    letter-spacing: 0.5px;
  }
  
  h4 {
    font-size: 14px;
    text-transform: uppercase;
    color: rgb(83, 83, 83);
    margin-bottom: 3px;
  }
  
  /* =============HEADER =============*/
  
  nav {
    justify-content: space-between;
    padding: .5rem .5rem;
    -webkit-box-shadow: 0px 7px 16px -8px var(--black);
    box-shadow: 0px 7px 16px -8px var(--black);
}

nav,
.nav-items,
.nav-items ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

nav .nav-items,
.nav-items ul {
    gap: 1rem;
}

nav .nav-items ul li {
    list-style: none;
}

nav img {
    width: 10rem;
}

nav .nav-items ul li a {
    text-decoration: none;
    color: var(--black);
}

.nav-items a.cart,
.responsive-menu a.cart,
.nav-items ul li a.red,
.hamburguer-menu {
    background-color: var(--red);
    padding: .2rem .4rem;
    color: var(--white);
    border-radius: .5rem;
}

nav .responsive-menu {
    display: flex;
    justify-content: center;
    gap: .5rem;
    padding: .8rem;
}

nav .hamburguer-menu,
nav .responsive-menu a.cart {
    display: none;
}

nav .hamburguer-menu .fa-solid {
    color: var(--white);
}

nav .left-section {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    width: 50%;
}

nav form.search {
    width: 50%;
}

nav form.search input[type=search] {
    border-radius: .5rem;
    height: 2rem;
    padding: .6rem;
    border: 1px solid var(--dark-gray);
    width: 100%;
}
  
  /* ============= MAIN =============*/
  
  .main-container {
    display: flex;
  }
  
  .prod-nav {
    display: flex;
    flex-direction: column;
    background-color: var(--light-gray);
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 0 20px rgb(124, 124, 124);
    padding: 15px;
    margin: 30px 30px;
  }
  
  .prod-nav img {
    border-radius: 15px;
    border: solid 1px var(--dark-gray);
    width: 150px;
    margin: 3px;
  }
  
  .prod-image {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 30px 10px;
  }
  
  .prod-image img {
    height: 50vh;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0px 0 20px rgb(124, 124, 124);
    margin: 10px 10px;
    padding: 20px;
  }
  
  .prod-detail {
    display: flex;
    flex-direction: column;
    padding: 15px;
  }
  
  .general-description {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    background-color: var(--light-gray);
    border-radius: 20px;
    padding: 20px;
    align-items: flex-start;
    margin: 30px 10px;
    box-shadow: 0px 0 20px rgb(124, 124, 124);
  }
  
  .general-description input {
    font-size: 14px;
    padding: 10px;
    margin: 8px 5px 15px 0px;
    background-color: var(--red);
    text-transform: uppercase;
    color: #fafafa;
    border: none;
    border-radius: 50px;
    box-shadow: 0px 0 5px rgb(124, 124, 124);
  }
  
  .general-description .description p {
    font-size: 18px;
    padding: 0px 0px 10px 0px;
    color: rgb(87, 87, 87);
  }
  
  .general-description .description .category {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  .general-description label {
    font-size: 18px;
    color: rgb(87, 87, 87);
    padding: 10px 0px;
  }
  
  .general-description select {
    padding: 4px 6px;
    margin: 5px 0px;
    border-radius: 5px;
    border: none;
    background-color: rgba(141, 153, 174, 0.384)
  }
  
  /* ============= FOOTER =============*/
  
  footer {
    margin-top: 3rem;
}

.footer-container {
    background-color: var(--red);
    color: var(--white);
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    justify-content: center;
}
  
 /* ============= MEDIA =============*/

@media(max-width: 460px) {
  nav {
    box-shadow: none;
}
nav form.search {
    width: 100%;
}
}

@media(max-width: 800px){
  nav {
        justify-content: center;
    }
    nav .nav-items ul {
        display: none;
    }
    nav .nav-items,
    .nav-items ul {
        gap: .5rem;
    }
    nav .hamburguer-menu,
    nav .responsive-menu a.cart {
        display: flex;
        align-items: center;
    }
    nav .left-section {
        width: 100%;
    }
    nav form.search {
        width: 50%;
    }

}
  
  