/*LOGIN MOBILE*/

body{
    margin:0 ;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(201, 201, 196);
    height: 100vh;
}

.formulario{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    background-color: white;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}
.formulario i{
    text-align: center;
    color: black;
}

.formulario h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}
.formulario form{
    padding: 0 40px;
    box-sizing: border-box;
}
form .username{
    position: relative;
    border-bottom: 2px solid white;
    margin: 30px 0;
    
 }

input[type="text"],
input[type="password"]{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background-color: rgb(234, 137, 154);
    padding: 2px 1px;
    border-radius: 10px;


}




.button{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background-color: rgb(200, 66, 48);
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.registrarse{
    text-align: center;
}