*{
    margin: 5px;
    padding: 10px;
    box-sizing: border-box;
    
}



.body-container{
    border: dashed 2px rgb(156, 10, 10)
}

/* Header */

.header{
    border: dashed 2px gray
}

/* Navbar */

.menu{
    border: dashed 2px lightcoral
}

.logo{
    border: dashed 2px lightslategrey
}

.nav{
    border: dashed 2px lightsalmon
}

.single-navbar{
    border: dashed 2px black
}

/* login & shopping cart */

.login-shop{
    border: dashed 2px purple
}

.login, .shop-cart {
    border: dashed 2px blueviolet 
}


/* Main */

.main-container{
    border: dashed 2px gray
}

.prod-nav{
    border: dashed 2px rgb(57, 57, 199)
}

.prod-image{
    border: dashed 2px rgb(201, 136, 184)
}

.prod-detail{
    border: dashed 2px rgb(48, 148, 143)
}

.description{
    border: dashed 2px rgb(255, 136, 0)
}

.product-rate{
    border: dashed 2px rgb(177, 36, 36) 
}

.description{
    border: dashed 2px rgb(177, 36, 36) 
}

.buttons{
    border: dashed 2px green
}

.sizes, .colors, .number, submit {
    border: dashed 2px rgb(34, 218, 193)
}







/* color selector */

.white{
    background-color:white
}
.black{
    background-color:black
}
.yellow{
    background-color:yellow
}
.green{
    background-color:green
}
.purple{
    background-color:purple
}
.pink{
    background-color:pink
}

.footer-container{
    border: dashed 2px grey
}

.copy{
    border: dashed 2px lightgreen
}
