:root {
    --red: #ef233c;
    --white: #ffffff;
    --black: #000000;
    --light-gray: #edf2f4;
    --dark-gray: #8d99ae;
    /*Fonts*/
    --big: 2rem;
    --small: 0.5rem;
}

.title {
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

/* centrar tarjeta */

.user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 8rem;
    
}

.user-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: var(--white);
    border-radius: 0.8rem;
    box-shadow: 0 0 1rem var(--dark-gray);
    text-align: right;
    z-index: -1;
}

.description-dates {
  margin-top: 6rem;
  text-align: left;
  border-top: solid 3px var(--light-gray); 
}

.description-dates p {
  font-size: 20px;
  color: var(--dark-gray);
}

.description-dates p span {
  font-size: 20px;
  color: var(--red)
}

.profile-image img{
  background-color: var(--light-gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 12rem;
    height: 12rem;
    border: 5px solid var(--light-gray);
    border-radius: 50%;
    margin-bottom: -6rem;
    z-index: 1;
}
