/*LOGIN MOBILE*/

:root {
    --red: #EF233C;
    --white: #FFFFFF;
    --black: #000000;
    --light-gray: #EDF2F4;
    --dark-gray: #8D99AE;
    /*Fonts*/
    --big: 2rem;
    --small: .5rem;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
nav .left-section {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    width: 50%; }
  

   
    
    

    .main-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    }


    .main-logo img {
        width: 80%;
    }
    
    

/*------------------MAIN---------------------*/

.logo-login {
    font-size: 40px;
    text-align: center;
    text-shadow: -3px -3px 5px rgb(0 0 0 / 40%);
    color: rgba(0, 0, 0, 0.7); }



main section {
    font-size: 16px;
    margin: 10px;
    padding: 10px 85px;
    border-radius: 20px;
    box-shadow: -1px -1px 2px 2px rgb(255 255 255 / 50%), 2px 2px 2px 1px rgb(0 0 0 / 20%); }


   
main section  input[type='text'], input[type='password']{
        border: none; 
        background-color:var(--red) ;
        font-size: 14px;
        width: 100%;
        padding-left: 5px;  }
    


.formulario{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    
}
.formulario i{
    color: black;
}



.log-name, .contenedor-usuario, .log-email, .contenedor-contraseña {
    margin: 5px;
    border: none;
    border-radius: 10px;
    padding: 8px 20px;
    display: flex;
    color:white;
    background-color: #EF233C;
    
}




.recordar p{
    font-size: 10px;
}
    
.boton-recuerdame{
    justify-content: space-between;
    justify-content: space-between;
    display: flex;
    align-items: center;
    gap: 1rem;
}
form {display: flex }
label {
    font-size: 10px;
}


/*
input[type="text"],
input[type="password"]{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background-color: #EF233C;
    padding: 2px 1px;
    border-radius: 10px;
    outline: none;
    padding-left: 10px;
    margin: 5px;
} */
::placeholder{
    color: white;
    text-align: center;
}

.recordar{
    text-decoration:underline;
}

.button{
    margin: 5px;
    background-color: #d90429;
    color: white;
    border-radius: 20px;
    padding: 5px 20px;
    border: none;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    box-shadow: -2px -2px 1px 2px rgba(255, 255, 255, 0.5), 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

    }

.registrarse{
    text-align: center;
}
