<!DOCTYPE html>
<html lang=>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <!-- <link rel="stylesheet" href="/css/styles-login.css"> -->
    <link rel="stylesheet" href="/css/styles-login.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>Login</title>
</head>
<header>
    <nav>
        <div class="left-section">
            <a href="/"><img src="images/Logo-proyecto.png" alt="logo"></a>
            <form class="search" action="GET">
                <input class="search01" type="search" name="search" id="search" placeholder="Encuentra lo que buscas">
            </form>
        </div>
        <div class="responsive-menu">
            <div class="hamburguer-menu">
                <a href=""><i class="fa-solid fa-bars"></i></a>
            </div>
            <a class="cart" href="/cart"><i class="fas fa-solid fa-cart-shopping"></i></a>
        </div>
        <div class="nav-items">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/t-shirts">Tienda</a></li>
                <li><a class="red" href="/login">Iniciar sesión</a></li>
                <li><a href="/register">Registrate</a></li>
                <a class="cart" href="/cart"><i class="fas fa-solid fa-cart-shopping"></i></a>
            </ul>

        </div>
    </nav>
</header>
<main>
    <div class="register">
        <div class="container-login-register">
            <div class="tab-login">
                <button type="button">Iniciar sesión</button>
            </div>
            <div class="tab-register">
                <button type="button">Registro</button>
            </div>
        </div>

        <div class="card-register">
            <section>

                <div class="logo-login">
                    <i class="fa-solid fa-user"></i>
                </div>

                <div class="log-text">
                    <p>Crea una cuenta para agilizar el proceso de pago en el futuro, realizar un seguimiento del
                        historial de pedidos y recibir correos electrónicos, descuentos y ofertas especiales.</p>
                </div>

                <form action="resultado.html" method="POST">



                    <div class="log-user">
                        <i class="fa-solid fa-user"></i>
                        <input type="text" name="log-user" id="log-user" placeholder="Nombre de usuario">
                    </div>


                    <div class="log-password">
                        <i class="fa-solid fa-key"></i>
                        <input type="password" name="password" id="password" placeholder="Contraseña">
                    </div>


                </form>



                <div class="register-button">
                    <button type="button">Iniciar sesión</button>
                </div>

                <p class="back-login"><u>Ir a registro</u></p>
                <div class="boton-recuerdame">

                    <form class="form-recuerdame" action="resultado.html" method="POST">
                        <label for="recuerdame">
                            <input type="checkbox" name="recuerdame" value>
                            <p>recuerdame</p></label>
                    </form>
                    <div class="olvidoContraseña">
                        <p>¿Olvido su contraseña?</p>
                    </div>
                </div>

</main>

<body>


</body>
<footer class="footer-container">
    <div class="social">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-twitter"></i>
    </div>
    <div class="copy">
        <p><i class="fa-solid fa-copyright"></i> Devsign 2022 - Todos los derechos reservados.</p>
    </div>
</footer>


</html>