<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>products</title>
</head>
<body>
  <div class="container">
    <header>
      <nav>
        <img src="" alt="logo">
        <div class="nav-items">
          <ul>
            <li>Inicio</li>
            <li>Tienda</li>
            <li>Sobre nosotros</li>
            <li>Iniciar sesión</li>
            <li><img src="" alt="cart"></li>
          </ul>
        </div>
      </nav>
    </header>
    <section class="slider">
      <h1>Última colección</h1>
    </section>
    <section class="intermediate">
      <h1>Lleva tu estilo a otro nivel con Devsign</h1>
      <h2>Consúltanos tu idea, ¡nosotros la estampamos!</h2>
      <button>Cotiza tu pedido</button>
    </section>
    <section class="products">
      <input type="search" name="search" id="search">
      <div class="products-list">
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
      </div>
    </section>
    <footer class="footer-container">
      <div class="copy">
          <p><i class="fa-solid fa-copyright"></i> Devsign 2022 - Todos los derechos reservados.</p>
      </div>
  </footer>
  </div>
</body>
</html>