<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="/css/styles-productCart.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <nav>
            <div class="left-section">
              <a href="/"><img src="images/Logo-proyecto.png" alt="logo"></a>
              <form class="search" action="GET">
                <input type="search" name="search" id="search" placeholder="Encuentra lo que buscas">
              </form>
            </div>
            <div class="responsive-menu">
              <div class="hamburguer-menu">
                <a href="#modal-menu"><i class="fa-solid fa-bars"></i></a>
              </div>
              <a class="cart" href="/cart"><i class="fas fa-solid fa-cart-shopping"></i></a>
            </div>
            <div class="nav-items">
              <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/t-shirts">Tienda</a></li>
                <li><a class="red" href="/login">Iniciar sesión</a></li>
                <li><a href="/register">Registrate</a></li>
                <a class="cart" href="/cart"><i class="fas fa-solid fa-cart-shopping"></i></a>
              </ul>
            </div>
        </nav>
    </header>

    <main>
        <section class="cart-complete">
            <section class="cart-articles">
                <section class="cart11">
                    <section class="cart-detail">
                        
                        <div class="cart-image">
                            <img src="images/products/t-shirt1.jpg" alt="camiseta">
                        </div>

                        <div class="container-value-cant-remove">
                            <div class="item-value">
                                <p>$45.000</p>
                            </div>
                            
                            <div class="N-objects">
                                <label for="cant">Cantidad</label>
                                <input type="number" name="cant" min="0" step="1" value="1">
                            </div>                  
                        </div>
                        
                        <div class="cart-description">
                            <p>Camiseta estampada slayer tipo1</p>
                            <p>Color: negro</p>
                            <p>Talla: S</p>
                        </div>
                        <div class="remove-object">
                            <i class="fa-solid fa-trash-can"></i>
                        </div>
                    </section>
                </section>
                    <!--------------------------SEGUNDO ARTICULO---------------------->

                <section class="cart11">
                    <section class="cart-detail">
                        
                        <div class="cart-image">
                            <img src="images/products/t-shirt1.jpg" alt="camiseta">
                        </div>

                        <div class="container-value-cant-remove">
                            <div class="item-value">
                                <p>$45.000</p>
                            </div>
                            
                            <div class="N-objects">
                                <label for="cant">Cantidad</label>
                                <input type="number" name="cant" min="0" step="1" value="1">
                            </div>                  
                        </div>
                        
                        <div class="cart-description">
                            <p>Camiseta estampada slayer tipo1</p>
                            <p>Color: negro</p>
                            <p>Talla: S</p>
                        </div>
                        <div class="remove-object">
                            <i class="fa-solid fa-trash-can"></i>
                        </div>
                    </section>
                </section>
            </section>
            <!------------------------RESUMEN DE ARTICULOS----------------------------->

        <section class="cart-summary-articles">
                    <div class="summary-articles">
                        <p>2 Artículos</p>
                        <p>$90.000</p>
                        <p>Envío</p>
                        <p>$12.000</p>
                    </div>

                    <div class="total-items">
                        <p>Total(impuestos incluidos)</p>
                        <p>$102.000</p>
                    </div>    
                    <div class="checkout">
                        <button type="button">COMPRAR</button>
                    </div>     
        </section>
    </section>   

    </main>

    <footer class="footer-container">
        <div class="social">
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-twitter"></i>
        </div>
        <div class="copy">
          <p><i class="fa-solid fa-copyright"></i> Devsign 2022 - Todos los derechos reservados.</p>
        </div>
      </footer>
      
    <div id="modal-menu" class="modal">
        <a class="close" href="#">X</a>
        <li><a href="/">Inicio</a></li>
        <li><a href="/t-shirts">Tienda</a></li>
        <li><a class="red" href="/login">Iniciar sesión</a></li>
        <li><a href="/register">Registrate</a></li>
        <a class="cart" href="/cart"><i class="fas fa-solid fa-cart-shopping"></i></a>
    </div>
</body>



</html>