<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
</head>

<body>
    <header>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
        <div class="logo">
            <img src="images/logo-proyecto.png" alt="logo">
        </div>
        <div class="iniciar-sesion">
            <i class="fa-solid fa-user"></i>
        </div>
        <div>
            <i class="fa-solid fa-cart-shopping"></i>
        </div>
    </header>

    <main>
        <section class="detalle-carrito">
            <article>

                <div class="imagen1">
                    <p>IMAGEN1</p>
                </div>

                <div>
                    <p>$45.000</p>
                </div>

                <div class="cantidad">
                    <input type="number" min="0" step="1" value="0">
                </div>

                <div>
                    <i class="fa-solid fa-trash-can"></i>
                </div>

                <div>
                    <p>Camiseta estampada slayer tipo1</p>
                    <p>Color: negro</p>
                    <p>Talla: S</p>
                </div>

            </article>
        </section>

        <section class="detalle-compra">
            <article>
                <div>
                    <p>2 Artículos</p>
                    <p>$90.000</p>
                    <p>Envío</p>
                    <p>$12.000</p>
                    <p>Total(impuestos incluidos)</p>
                    <p>$102.000</p>
                    <p></p>
                </div>

                <button type="button">FINALIZAR COMPRA</button>

            </article>
        </section>
    </main>

    <footer>
        <p>footer</p>
    </footer>
</body>



</html>