<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body>
  <header>
    <div class="burger-menu">
      <i class="fas fa-bars"></i>
    </div>  
    <div class="logo">
      <img src="images/logo-proyecto.png" alt = "logo">
    </div>
    <div class="iniciar-sesion">
      <i class="fa-solid fa-user"></i>
    </div>
    <div>
      <i class="fa-solid fa-cart-shopping"></i>
    </div>
  </header>
  
  <main>
    <section>
      <div class="iniciar-sesion">
        <i class="fa-solid fa-user"></i>
      </div>
      <div>
        <p>CREA UNA CUENTA PARA AGILIZAR...</p>
      </div>
      <div>
        <i class="fa-solid fa-pencil"></i>
        <p>Nombre completo</p>
      </div>
      <div>
        <i class="fa-solid fa-user"></i>
        <p>Nombre de usuario</p>
      </div>
      <div>
        <i class="fa-solid fa-envelope"></i>
        <p>Correo Electrónico</p>
      </div>
      <div>
        <i class="fa-solid fa-key"></i>
        <p>Contraseña</p>
      </div>

      <p>POLITICA DE PRIVACIDAD</p>

      <button type="button">Registrarse</button>

      <p>Volver a inicio de sesión</p>

    </section>
  </main>
</body>
</html>