<header>
  <% if (locals.isLogged) { %>
    <div class="locals">
      <a href="/users/profile"> <h3>¡Hola <%= locals.isLogged.logUser %>! </h3> </a>
      <img class="image-locals" src="/images/users/<%= locals.isLogged.image %>" alt="imágen de perfil">
  </div>
      <% } %>
  <nav>
    <div class="left-section">
      <a href="/"><img src="/images/Logo-proyecto.png" alt="logo"></a>
      <form class="search" action="GET">
        <input type="search" name="search" id="search" placeholder="Encuentra lo que buscas">
      </form>
    </div>
    <div class="responsive-menu">
      <div class="hamburguer-menu">
        <a href="#modal-menu"><i class="fa-solid fa-bars"></i></a>
      </div>
      <a class="cart" href="/products/cart"><i class="fas fa-solid fa-cart-shopping"></i></a>
      </div>
      
      <div class="nav-items">
        <ul>
          <% if (locals.isLogged) { %>
            <li><a href="/">Inicio</a></li>
            <li><a href="/products/products-list/camisetas">Tienda</a></li>
            <a class = "btn-adminProduct2" href="/addeditProduct">
              <input type="button" value="Administrar">
              <li><a href="/users/logout">Cerrar sesión</a></li> 
              <a class="cart" href="/products/cart"><i class="fas fa-solid fa-cart-shopping"></i></a>
              <a class = "btn-adminProduct1" href="/products/addeditProduct">
                <input type="button" value="Administrar">
              </a>
          <% } else { %>
            <li><a href="/">Inicio</a></li>
        <li><a href="/products/products-list/camisetas">Tienda</a></li>
        <a class="cart" href="/products/cart"><i class="fas fa-solid fa-cart-shopping"></i></a>
        <a class = "btn-adminProduct2" href="/addeditProduct">
          <input type="button" value="Administrar">
          <li><a class="red" href="/users/login">Iniciar sesión</a></li>
          <li><a href="/users/register">Registrate</a></li>
          <% } %>
        </a>
      </ul> 
    </div>

  </nav>
</header>