<header>
  <nav>
    <div class="left-section">
      <a href="/"><img src="/images/Logo-proyecto.png" alt="logo"></a>
      <form class="search" action="GET">
        <input type="search" name="search" id="search" placeholder="Encuentra lo que buscas">
      </form>
    </div>
    <div class="responsive-menu">
      <div class="hamburguer-menu">
        <a href="#modal-menu"><i class="fa-solid fa-bars"></i></a>
      </div>
      <a class="cart" href="/cart"><i class="fas fa-solid fa-cart-shopping"></i></a>
      <a class = "btn-adminProduct1" href="/products/addeditProduct">
        <input type="button" value="Administrar">
      </a>
      
    
    </div>
    <div class="nav-items">
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/products/products-list/camisetas">Tienda</a></li>
        <li><a class="red" href="/users/login">Iniciar sesión</a></li>
        <li><a href="/users/register">Registrate</a></li>
        <a class="cart" href="/cart"><i class="fas fa-solid fa-cart-shopping"></i></a>
        <a class = "btn-adminProduct2" href="/addeditProduct">
          <input type="button" value="Administrar">
        </a>
      </ul>

    </div>
  </nav>
</header>