<header>
  <nav>
    <div class="left-section">
      <a href="/"><img src="/images/Logo-proyecto.png" alt="logo"></a>
      <form class="search" action="GET">
        <input type="search" name="search" id="search" placeholder="Encuentra lo que buscas">
      </form>
    </div>
    <div class="responsive-menu">
      <div class="hamburguer-menu">
        <a href="#modal-menu"><i class="fa-solid fa-bars"></i></a>
      </div>
      <a class="cart" href="/products/cart"><i class="fas fa-solid fa-cart-shopping"></i></a>
      </div>
      
      <div class="nav-items">
        <ul>
          <% if (locals.isLogged) { %>
            <li><a href="/">Inicio</a></li>
            <li><a href="/products/products-list/camisetas">Tienda</a></li>
            <a class = "btn-adminProduct2" href="/adminProductUser">
              <input type="button" value="Administrar">
              <li><a href="/users/logout">Cerrar sesión</a></li> 
              <a class="cart" href="/products/cart"><i class="fas fa-solid fa-cart-shopping"></i></a>
              <a class = "btn-adminProduct1" href="/products/adminProductUser">
                <input type="button" value="Administrar">
              </a>
              <li>
                <a href="/users/profile"> <img class="image-locals" src="/images/users/<%= isLogged.image %>" alt="img perfil"></a>
              </li>
            </a>
            <li>
              <div class="locals">
                <a href="/users/profile"> <p>¡Hola <%= locals.isLogged.logUser %>! </p> </a>
              </div>
            </li>
          <% } else { %>
            <li><a href="/">Inicio</a></li>
        <li><a href="/products/products-list/camisetas">Tienda</a></li>
        <a class="cart" href="/products/cart"><i class="fas fa-solid fa-cart-shopping"></i></a>
        <a class = "btn-adminProduct2" href="/addeditProduct">
          <input type="button" value="Administrar">
          <li><a class="red" href="/users/login">Iniciar sesión</a></li>
          <li><a href="/users/register">Registrate</a></li>
          <% } %>
        </a>
      </ul> 
    </div>

  </nav>
  
</header>