<section class="intermediate-menu">
  <ul>
    <li><a href="/products-list/camisetas" id="a1">Camisetas</a></li>
    <li><a href="/products-list/hoddies" id="a2">Hoddies</a></li>
    <li><a href="/products-list/mugs" id="a3">Mugs</a></li>
    <li><a href="/products-list/botellas" id="a4">Botellas</a></li>
    <li><a href="/products-list/gorras" id="a5">Gorras</a></li>
    <li><a href="/products-list/cojines" id="a6">Cojines</a></li>
    <li><a href="/products-list/stickers" id="a7">Stickers</a></li>
  </ul>
</section>
<% if (category == 'camisetas') { %>
  <script>
    document.getElementById('a1').className = 'underlined'
  </script>
<% } %>
<% if (category == 'hoddies') { %>
  <script>
    document.getElementById('a2').className = 'underlined'
  </script>
<% } %>
<% if (category == 'mugs') { %>
  <script>
    document.getElementById('a3').className = 'underlined'
  </script>
<% } %>
<% if (category == 'botellas') { %>
  <script>
    document.getElementById('a4').className = 'underlined'
  </script>
<% } %>
<% if (category == 'gorras') { %>
  <script>
    document.getElementById('a5').className = 'underlined'
  </script>
<% } %>
<% if (category == 'cojines') { %>
  <script>
    document.getElementById('a6').className = 'underlined'
  </script>
<% } %>
<% if (category == 'stickers') { %>
  <script>
    document.getElementById('a7').className = 'underlined'
  </script>
<% } %>