.content {

    background: rgba(255, 255, 255, 0.21);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.1px);
    -webkit-backdrop-filter: blur(8.1px);
    border: 1px solid rgba(255, 255, 255, 0.98);
    padding: 1rem;
    width: 25%;
    display: block;
}

ul.list {
    display: flex;
    width: 100%;
    gap: 2rem;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

}