<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {webtitle: "Registrarse"}) %>
<body>
  <%- include('../partials/header') %>
    <main>
        <div class="register">
            <div class="container-login-register">
                <div class="tab-login">
                    <button type="button">Iniciar sesión</button>
                </div>
                <div class="tab-register">
                    <button type="button">Registro</button>
                </div>
            </div>

            <div class="card-register">
                <section>

                    <div class="logo-login">
                        <i class="fa-solid fa-user"></i>
                    </div>

                    <div class="log-text">
                        <p>Crea una cuenta para agilizar el proceso de pago en el futuro, realizar un seguimiento del
                            historial de pedidos y recibir correos electrónicos, descuentos y ofertas especiales.</p>
                    </div>

                    <form action="resultado.html" method="POST" class="form-register">

                        <div class="register-log-name">
                            <i class="fa-solid fa-pencil"></i>
                            <input type="text" name="nombre" id="nombre" placeholder="Nombre y apellido">
                        </div>

                        <div class="register-log-user">
                            <i class="fa-solid fa-user"></i>
                            <input type="text" name="log-user" id="log-user" placeholder="Nombre de usuario">
                        </div>

                        <div class="register-log-email">
                            <i class="fa-solid fa-envelope"></i>
                            <input type="email" name="email" id="email" placeholder="Correo Electrónico">
                        </div>

                        <div class="register-log-password">
                            <i class="fa-solid fa-key"></i>
                            <input type="password" name="password" id="password" placeholder="Contraseña">
                        </div>

                        <div class="register-log-password">
                            <i class="fa-solid fa-key"></i>
                            <input type="password" name="repeat-password" id="repeat-password"
                                placeholder="Repita la Contraseña">
                        </div>

                    </form>

                    <div class="Privacy-Policy">
                        <p>Sus datos personales se utilizarán para respaldar su experiencia en este sitio web, para
                            administrar el acceso a su cuenta y para otros fines descritos en nuestra <u>política de
                                privacidad</u></p>
                    </div>

                    <div class="register-button">
                        <button type="button">Registrarse</button>
                    </div>

                    <p class="back-login"><u>Volver a inicio de sesión</u></p>

                </section>
            </div>
        </div>
    </main>
    <div id="modal-menu" class="modal">
        <a class="close" href="#">X</a>
        <li><a href="/">Inicio</a></li>
        <li><a href="/tshirts">Tienda</a></li>
        <li><a class="red" href="/users/login">Iniciar sesión</a></li>
        <li><a href="/users/register">Registrate</a></li>
        <a class="cart" href="/cart"><i class="fas fa-solid fa-cart-shopping"></i></a>
    </div>
    <%- include('../partials/footer') %>
</body>
 
</html>